@import "~node_modules/modern-normalize/modern-normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #1d252b;
  background: #fbfcfc;
}

// main {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  display: grid;
  align-content: space-between;
  min-height: 100vh;
}
