.news {
  margin-bottom: 100px;

  .title2 {
    margin-top: 72px;
    margin-bottom: 24px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 556px;

    &__title,
    &__descr,
    &__date {
      font-style: normal;
      font-weight: 400;
    }

    &__title {
      color: #121212;
      font-family: $font-secondary;
      font-size: 24px;
      line-height: 1.4;
    }

    &__descr {
      color: #1d252b;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 1.5;
    }

    &__date {
      color: #4e5f6e;
      font-family: $font-primary;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &-item-content {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 24px 0;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    @include small-mobile {
      flex-direction: column;
    }

    @include tiny {
      flex-direction: column;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 24px;
    margin-left: auto;

    border: 1px solid #121212;
    border-radius: 8px;
  }
}

.seperator {
  display: flex;
  width: 1368px;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #1d252b;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include small-mobile {
    width: 100%;
  }

  @include tiny {
    width: 100%;
  }
}
