<section class="about-us section">
  <div class="about-us-content container">
    <h3 class="title-h3 about-us-title">Про нас</h3>
    <div class="about-us-wrap">
      <div class="about-us-info">
        <span class="meta-goal">
          <img src="./images/icons/icon-arrow-down-right.svg" alt="arrow-down-right">
          Мета громадської організації</span>

        <p class="about-us-paragraph">
          Діяльність в інтересах суспільства, показуючи приклад добра, співчуття, милосердя та любові
        </p>

        <div class="about-us-text">
          <p>ГО “Територія добра Поділля” заснована в місті Хмельницькому 27 липня 2017 року</p>
        </div>

        <p class="descr">В цей непростий період становлення українського народу ми бачимо певні гострі проблеми суспільства з
          числа
          цільових груп, на які спрямована діяльність Громадської Організації, а саме:</p>

        <ul class="list">

          <li class="item">Малозабезпеченим, кризовим та багатодітним сім’ям</li>
          <li class="item">Онкохворим дітям</li>
          <li class="item">Молоді з неповноцінних сімей, включаючи тих, що втекли з дому, або позбавлені батьківського
            піклування, що
            потребують соціальної підтримки</li>
          <li class="item">Безпритульним</li>
          <li class="item">Безробітним</li>
          <li class="item">Інвалідам</li>
          <li class="item">Ветеранам</li>
          <li class="item">Переселенцям</li>
          <li class="item">Воїнам АТО та ООС</li>
          <li class="item">Іншим особам, які потребують піклування</li>
        </ul>

        <p class="descr about-descr">А також надання допомоги особам, які через свої фізичні та інші вади обмежені в реалізації своїх прав і
          законних
          інтересів.</p>
      </div>
      <div>
        <img src="./images/about-us-img.png" alt="">
      </div>
    </div>
  </div>

</section>