<section class="contacts">
  <div class="container">
    <h2 class="title2">
      Contacts
    </h2>
    <div class="contacts-wrap">
      <div class="contacts-info">
        <ul class="list contacts-list">
          <li class="item contacts-item">
            <img src="./images/icon-map.svg" alt="icon-map">
            <h3 class="contacts-list__title">Khmelnytskyi, NGO "Territory of Good Podillia"</h3>
          </li>
          <li class="item contacts-item">
            <img src="./images/icon-message.svg" alt="icon-message">
            <h3 class="contacts-list__title">terytoriiadobra@gmail.com</h3>
          </li>
        </ul>

        <div class="address-info">
          <h4 class="address-info__title">
            Addresses of our offices
          </h4>

          <ul class="list address-list">
            <li class="item address-list__item">
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/Icon-map2.svg" alt="адрес">
                <h5 class="address-list__item-title">St. Ivan Franko 18</h5>
              </span>
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/icon-phone2.svg" alt="телефон">
                <p class="address-list__item-descr">+380 73-206-43-30 – Vita</p>
              </span>
            </li>

            <li class="item address-list__item">
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/Icon-map2.svg" alt="адрес">
                <h5 class="address-list__item-title">St. Ternopilska 30/1</h5>
              </span>
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/icon-phone2.svg" alt="телефон">
                <p class="address-list__item-descr">+380 99-468-56-19 – Bozhena</p>
              </span>
            </li>

            <li class="item address-list__item">
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/Icon-map2.svg" alt="адрес">
                <h5 class="address-list__item-title">St. Sichovyh Striltsiv 6, (URBAN STREET) office 43</h5>
              </span>
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/icon-phone2.svg" alt="телефон">
                <p class="address-list__item-descr">+380 97-322-08-53 – Ella</p>
              </span>
            </li>

            <li class="item address-list__item">
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/Icon-map2.svg" alt="адрес">
                <h5 class="address-list__item-title">St. Mazura 18/1 (Social and youth space)</h5>
              </span>
              <span class="address-list__item-wrap">
                <img width="24" height="24" src="./images/icon-phone2.svg" alt="телефон">
                <p class="address-list__item-descr">+380 96-030-30-54 - Maxim</p>
              </span>
            </li>
          </ul>

        </div>
      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4636.844359297542!2d27.00834201746192!3d49.46014667066264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4732077a9271b5dd%3A0x282fb6840fb801db!2z0JvRltGB0L7Qs9GA0LjQvdGW0LLQtdGG0YzQutCwINCy0YPQu9C40YbRjywgNC8xLCDQpdC80LXQu9GM0L3QuNGG0YzQutC40LksINCl0LzQtdC70YzQvdC40YbRjNC60LAg0L7QsdC70LDRgdGC0YwsIDI5MDAw!5e0!3m2!1sru!2sua!4v1739375168770!5m2!1sru!2sua"
          width="687px" height="502px" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>