<section class="hero">
  <div class="container">
    <div class="hero-img flex center">
      <img src="./images/hero.jpg" alt="hero" />

      <div class="hero-text">
        <h4 class="hero-subtitle">Громадська організація</h4>
        <h3 class="hero-title">“Територія добра Поділля”</h3>
      </div>

      <div class="hero-paragraph">
        <p><strong>Спільність для добра:</strong> рухаємось разом, підтримуємо разом,
          змінюємо разом!</p>
      </div>
    </div>

  </div>
</section>