<section class="news">
  <div class="container">
    <h2 class="title2">Новини</h2>

    <ul class="list">
      <li class="item news-item">
        <div class="news-item-content">
          <div class="news-item-image">
            <img src="./images/news/news-1.jpg" alt="news-1" />
          </div>

          <div class="news-info">
            <h3 class="news-info__title">Евакуація населення з Херсонської області</h3>
            <p class="news-info__descr">
              Вже другу добу вся країна спостерігає за ситуацією в Херсонській області. За екологічною катастрофою, яку
              спровокувала рашистська федерація в нашій країні! Після багатоденних обстрілів та окупації місцеві
              мешканці знов потерпають…
            </p>
            <data class="news-info__date" value="2023-10-01">08 червня 2023</data>
          </div>

          <button class="news-btn button tertiary">Читати новину

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="#121212" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </li>

      <span class="seperator"></span>

      <li class="item news-item">
        <div class="news-item-content">
          <div class="news-item-image">
            <img src="./images/news/news-2.jpg" alt="news-2" />
          </div>

          <div class="news-info">
            <h3 class="news-info__title">Свято для дітей ВПО</h3>
            <p class="news-info__descr">
              Сьогодні волонтери ГО «Територія Добра Поділля» влаштували свято для діток, які переїхали у наше місто
              через війну. В цей день діти отримали купу позитивних емоцій: Білий Ведмідь Кокос , Хесед Бешт, чудові
              пірати, активні ігри, солодощі та подарунки
            </p>
            <data class="news-info__date" value="2023-10-01">01 червня 2023</data>
          </div>

          <button class="news-btn button tertiary">Читати новину

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="#121212" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </li>
    </ul>

    </ul>

  </div>
</section>