<section class="our-projects section">
  <div class="container">
    <h3 class="title-h3 mb-32">Наші проекти</h3>

    <div class="projects grid cols-3">
      <div class="project">
        <img src="./images/our-projects-images/pіс-1.jpg" alt="Project 1" />
        <h4 class="project__title">Допоможемо вижити</h4>
        <p class="project__descr">Проект має за мету допомогти людям, які опинилися в скрутних життєвих обставинах, які
          зможуть отримати
          допомогу у вигляді: прання та прасування одягу; можливість помитися та підстригтися; гарячі обіди, та інше.
        </p>

        <button class="our-projects__btn button primary">
          Детальніше

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </button>

      </div>
      <div class="project">
        <img src="./images/our-projects-images/pіс-2.jpg" alt="Project 2" />
        <h4 class="project__title">Робота ВПО</h4>
        <p class="project__descr">Протягом року, коли триває війна, наша громадська організація продовжує допомагати
          людям, які постраждали від воєнних дій. Ми зосереджуємося на різноманітних проектах, що спрямовані на допомогу
          родинам переселенців та людям, які опинилися у складних життєвих обставинах через воєнні дії.</p>
        <button class="our-projects__btn button primary">
          Детальніше

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </button>
      </div>
      <div class="project">
        <img src="./images/our-projects-images/pіс-3.jpg" alt="Project 3" />
        <h4 class="project__title">Допомога на деокупованих територіях</h4>
        <p class="project__descr">Волонтери ГО «Територія Добра Поділля»їздять на прифронтові та деокуповані території.
          Допомагаємо людям, які опинилися у складних життєвих обставинах через воєнні дії. Привезти продуктому
          допомогу, засобами особистої гігієни, генератори, електроінструмент, топори та бензопили, газові горілки,
          будівельні матеріали.</p>
        <button class="our-projects__btn button primary">
          Детальніше

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </button>
      </div>
    </div>

    <a href="./page-projects.html" class="projects-view descr">
      Дивитись усі проекти

      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M9 18L15 12L9 6" stroke="#121212" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </a>

</section>