<section class="partners-listing">
  <div class="container">
    <h2 class="title2">Наші партнери</h2>

    <div class="partners-listing__content">
      <ul class="list">
        <li class="item"><a href="#">«BEEF&CAKE» </a></li>
        <li class="item"><a href="#">«City Espresso» </a></li>
        <li class="item"><a href="#">«Coffee from Africa» </a></li>
        <li class="item"><a href="#">«Dream-Hostel» </a></li>
        <li class="item"><a href="#">«ELLE» </a></li>
        <li class="item"><a href="#">«FontanPrint» </a></li>
        <li class="item"><a href="#">«Grand Bud» </a></li>
        <li class="item"><a href="#">«IFixes» </a></li>
        <li class="item"><a href="#">«Kartoffel» </a></li>
        <li class="item"><a href="#">«Kavalerka» </a></li>
        <li class="item"><a href="#">«LED-освітлення» </a></li>
        <li class="item"><a href="#">«LERU» </a></li>
        <li class="item"><a href="#">«Multiplex» </a></li>
        <li class="item"><a href="#">«Piccolino Trattoria» </a></li>
        <li class="item"><a href="#">«Sup Surf School» </a></li>
        <li class="item"><a href="#">«Svitlotekhnika» </a></li>
        <li class="item"><a href="#">«Ukrinstal» </a></li>
        <li class="item"><a href="#">«White Rabbit» </a></li>
        <li class="item"><a href="#">«Zerno» </a></li>
        <li class="item"><a href="#">«Аквадім» </a></li>
        <li class="item"><a href="#">«АНГАР»</a></li>
      </ul>

      <ul class="list">
        <li class="item"><a href="#">«Берлінка»</a></li>
        <li class="item"><a href="#">«Будексперт-Центр»</a></li>
        <li class="item"><a href="#">«БудКрай»</a></li>
        <li class="item"><a href="#">«БудШок»</a></li>
        <li class="item"><a href="#">«ВІС»</a></li>
        <li class="item"><a href="#">«ВІСЛА»</a></li>
        <li class="item"><a href="#">«Дім Світла»</a></li>
        <li class="item"><a href="#">«Домобуд»</a></li>
        <li class="item"><a href="#">«Економ»</a></li>
        <li class="item"><a href="#">«Електротехніка»</a></li>
        <li class="item"><a href="#">«Кулібін»</a></li>
        <li class="item"><a href="#">«Мануфактура кави»</a></li>
        <li class="item"><a href="#">«МРІЯ»</a></li>
        <li class="item"><a href="#">«Наше Пиво»</a></li>
        <li class="item"><a href="#">«Нова тара»</a></li>
        <li class="item"><a href="#">«Приватна бригада»</a></li>
        <li class="item"><a href="#">«РАТЕКС»</a></li>
        <li class="item"><a href="#">«Рикун»</a></li>
        <li class="item"><a href="#">«Світ маркет»</a></li>
        <li class="item"><a href="#">«Солодощі»</a></li>
        <li class="item"><a href="#">«Таврія В»</a></li>
      </ul>

      <ul class="list">
        <li class="item"><a href="#">«Тамерлан»</a></li>
        <li class="item"><a href="#">«Твоя Кава»</a></li>
        <li class="item"><a href="#">«Фаворит»</a></li>
        <li class="item"><a href="#">«Ферозіт»</a></li>
        <li class="item"><a href="#">«Формат»</a></li>
        <li class="item"><a href="#">«Фруктоша»</a></li>
        <li class="item"><a href="#">«Чадо»</a></li>
        <li class="item"><a href="#">GC «Barbershop»</a></li>
        <li class="item"><a href="#">БФ «Незалажена країна»</a></li>
        <li class="item"><a href="#">СК «Лідер»</a></li>
        <li class="item"><a href="#">ТДВ «Хмельницькзалізобетон»</a></li>
        <li class="item"><a href="#">ТОВ «Поділля-Кабель»</a></li>
        <li class="item"><a href="#">ТРЦ «Kvartal»</a></li>
        <li class="item"><a href="#">ТРЦ «Woodmall»</a></li>
        <li class="item"><a href="#">ТЦ «Agora»</a></li>
        <li class="item"><a href="#">ХКП «Електротранс»</a></li>
      </ul>

    </div>
  </div>
</section>


<section class="partnership">
  <div class="container">
    <div class="partnership__container">
      <div class="partnership__text">
        <h2 class="partnership__title">
          Запрошуємо Вас стати нашими партнерами в добрих справах і разом допомагати людям, дарувати радість і турботу.
        </h2>
        <p class="partnership__desc">
          Щоб запропонувати партнерство, будь ласка, заповніть форму. Ми сконтактуємо протягом кількох робочих днів.
        </p>
      </div>
      <form class="partnership__form">
        <label class="form__group">
          <span>Ім’я Прізвище</span>
          <input type="text" class="form__input" name="fullname" placeholder="Вкажіть ваше ім’я та прізвище" required
            autocomplete="name">
        </label>
        <label class="form__group">
          <span>Телефон</span>
          <input type="tel" class="form__input" name="phone" placeholder="+380 00 000 00 00" required
            autocomplete="tel">
        </label>
        <label class="form__group">
          <span>Оберіть область діяльності</span>
          <select class="form__select" name="field" required>
            <option value="" disabled selected>Оберіть область</option>
            <option value="estafeta">Акція "Естафета добра"</option>
            <option value="volunteering">Волонтерство</option>
            <option value="finance">Фінансова підтримка</option>
            <option value="media">Медіапідтримка</option>
          </select>
        </label>
        <label class="form__group">
          <span>Найменування юридичної особи (компанії)</span>
          <input type="text" class="form__input" name="company" placeholder="Вкажіть найменування" required
            autocomplete="organization">
        </label>
        <label class="form__group">
          <span>Пропозиція</span>
          <textarea class="form__textarea" name="proposal" placeholder="Ваша пропозиція" required></textarea>
        </label>

        <button type="submit" class="button primary form__button">Надіслати запит

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9 18L15 12L9 6" stroke="white" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>