<section class="volunteer section">
  <div class="container">
    <h3 class="title-h3 mb-32">Шукаємо волонтерів</h3>

    <div class="volunteer-content flex">

      <div class="volunteer-info">

        <ul class="volunteer-list list">
          <h4 class="volunteer-subtitle">Заповнюй форму та приєднуйся до нашої команди</h4>

          <p class="descr">Нам особливо потрібні:</p>
          <div class="volunteer-wrap">
            <li class="volunteer">
              <h4 class="volunteer__title bold">Бухгалтери</h4>
            </li>
            <li class="volunteer">
              <h4 class="volunteer__title bold">Водії з власним автомобілем</h4>
            </li>
            <li class="volunteer">
              <h4 class="volunteer__title bold">Волонтери</h4>
            </li>
            <li class="volunteer">
              <h4 class="volunteer__title bold">IT – Фахівці</h4>
            </li>
          </div>
        </ul>

        <p class="descr volunteer-descr">Наша команда шукає надійних, небайдужих та активних людей, які б долучились до
          волонтерської
          діяльності та допомагали із реалізацією різноманітних проектів в місті Хмельницькому.</p>

        <p class="descr bold">Саме ти можеш приєднатись до доброї справи!</p>
      </div>


      <include src="./partials/form.html"></include>

    </div>

  </div>
</section>